{% extends "base.html" %}
{% block title %}About{% endblock title %}

{% block body %}


    <section class="about-us">
        <h1>About Us</h1>
        <p>Welcome to iCoders!</p>
        <p>At iCoders, we are passionate about coding and technology. Our mission is to create a community where like-minded individuals can come together to learn, share, and grow their skills in coding and software development. Whether you're a beginner just starting out or an experienced developer, iCoders is your go-to platform for insightful resources, engaging content, and collaborative opportunities.</p>
        <p>We believe that coding is more than just writing lines of code—it's about solving problems, innovating, and making a positive impact on the world. Our team is dedicated to providing the best tools, tutorials, and support to help you succeed in your coding journey.</p>
        <p>Join us at iCoders, and let’s build the future together, one line of code at a time.</p>
    </section>



{% endblock body %}
